html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    background: #ffffff;
    color: #2a2a2a;
}

.appContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    -webkit-overflow-scrolling: touch;
}

.restaurantList {
    overflow-y: scroll;
    overflow-x: visible;
    margin-top: 80px;
}

.map {
    position: static;
}

.translateIn {
    transform: translate(100%);
}

@media only screen and (max-width: 640px) {
    .appContainer {
        display: flex;
    }
    .restaurantList {
        width: 100vh;
        margin-top: 50px;
    }
}
